services:
  - docker

language: go

go:
    - 1.8

notifications:
    email: false

before_install:
  - sudo add-apt-repository -y ppa:masterminds/glide
  - sudo apt-get update -q
  - sudo apt-get install -y glide

before_script:
  - wget https://storage.googleapis.com/kubernetes-release/release/v1.5.6/bin/linux/amd64/kubectl
  - chmod +x kubectl
  - sudo mv kubectl /usr/local/bin/kubectl

script:
    - make vendor
    - make gotest
    - ./test_coverage.sh
    - make build
    - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
